<h2>Flights</h2>

<table>
  <thead>
    <th>From</th>
    <th></th>
    <th>To</th>
    <th>Cost</th>
    <th></th>
  </thead>
  <% @flights.each do |flight| %>
    <tr>
      <td><%= flight.origin %></td>
      <td>➡️</td>
      <td><%= flight.destination %></td>
      <td><%= number_to_currency(flight.cost, precision: 0) %></td>
      <td><%= link_to 'Buy Tickets!', new_transaction_path(flight_id: flight) %></td>
    </tr>
  <% end %>
</table>

<h3>BUY SOMETHIN' WILL YA!</h3>
